@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Ubuntu');

*, *::before, *::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}



body {
    font-family: Ubuntu;
    background-image: url(../img/hypnotize.png);
    background-attachment: fixed;
}

h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

img { max-width: 100%; }

main img {
    margin: auto;
    display: block;
}

header, footer {
    background-color: rgba(245, 245, 245, 0.8);
}

header {
    border-bottom: solid 1px;
    text-align: center;
    margin-bottom: 15px;
}

nav {
    width: 100%;
    min-height: 40px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: black;    
    width: 23%;
    min-height: inherit;
    transition: background-color 1s;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

nav a:hover, nav a:focus {
    background-color: black;
    color: ghostwhite;
}

footer {
    border-top: solid 1px;
    padding: 1%;
    text-align: center;
}


main {
    max-width: 95%;
    margin: auto;
}

main article {
    background-color: white;
    margin: 15px 0;
    padding: 1%;
    box-shadow: grey 1px 1px 5px
}

main h2, main h3, main p {
    padding: 1% 0;
    color: black;
}

footer p { font-size: 14px; }

footer aside { margin: 15px 0; }

footer img {
    margin-left: 5px;
    margin-right: 5px;
}



#servicos section {
    box-shadow: none;
    margin: 30px 0;
}


/* contato.html */
form { 
    margin:auto; 
    max-width: 700px;
    width: 95%;
}

input, textarea {
	border: solid 2px #300040;
}

#nome, #email, #telefone, #assunto {
	height: 50px;
	width:100%;
	padding:1%;	
}

#mensagem {
	width:100%;
	padding:1%;
}

label {
    font-weight: bold;
}

#enviar {
	border:none;
	padding:2%;
	background-color:black;
	color:white;
	font-weight:bold;	
}



@media screen and (min-width: 700px){
    header {        
        position: fixed;
        width: 100%;
        top:0;
        height: 60px;
        z-index: 1000;
        background-color: rgba(245, 245, 245, 0.95);
    }

    header div {
        display: flex;
        align-items: center;
    }

    h1 { 
        margin-left: 3%; 
        margin-top: 5px;
    }
    nav { height: 50px;}   
    
    main { margin-top: 70px; }
    
    /* o que fazemos */
    #servicos {
        display: flex;
        margin: 30px 0;
    }

    #servicos section {
        width: 30%;
        margin: auto;
        box-shadow: none;
    }

}

@media screen and (min-width: 1100px){
    body {font-size: 20px; }
    header { 
        height: 70px; 
    }

    header div {
        max-width: 1100px;
        margin: auto;
    }

    h1 { 
        margin-top: 8px; 
        margin-left: 0;
    }

    nav { justify-content: flex-end; }

    main { 
        max-width: 1100px; 
        margin-top: 80px; 
    }

}


